<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLySinhVien_Final.Properties.Settings.QLSinhVienConnectionString"
            connectionString="Data Source=DESKTOP-12J6D6C;Initial Catalog=QLSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>